In [1]:
import pandas as pd
import numpy as np

ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [2]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

In [4]:
data = np.random.rand(20)
print(data)
pd.cut(data, 4, precision=2)

[0.85575368 0.35575508 0.90140424 0.14939671 0.60155475 0.469042
 0.74546874 0.11011835 0.6136928  0.99173548 0.50670955 0.98391769
 0.10202265 0.29162065 0.30357085 0.96770862 0.94490596 0.8385666
 0.48239172 0.3837443 ]

[(0.77, 0.99], (0.32, 0.55], (0.77, 0.99], (0.1, 0.32], (0.55, 0.77], ..., (0.77, 0.99], (0.77, 0.99], (0.77, 0.99], (0.32, 0.55], (0.32, 0.55]]
Length: 20
Categories (4, interval[float64]): [(0.1, 0.32] < (0.32, 0.55] < (0.55, 0.77] < (0.77, 0.99]]

In [5]:
data = np.random.randn(1000)
cats = pd.qcut(data, 4 , precision = 2)
cats

[(-0.67, -0.014], (-0.014, 0.68], (-0.014, 0.68], (0.68, 2.99], (-2.7899999999999996, -0.67], ..., (-2.7899999999999996, -0.67], (-0.67, -0.014], (-0.67, -0.014], (-0.014, 0.68], (-0.014, 0.68]]
Length: 1000
Categories (4, interval[float64]): [(-2.7899999999999996, -0.67] < (-0.67, -0.014] < (-0.014, 0.68] < (0.68, 2.99]]

In [7]:
data = pd.DataFrame(np.random.randn(1000, 4))
col = data[2]
col

0      0.284344
1     -0.330487
2      0.512985
3      0.330178
4      0.366013
5     -0.851478
6      0.199823
7     -0.433454
8      1.050852
9     -0.121618
10    -0.275952
11    -1.157180
12     1.450352
13     1.117714
14    -0.757392
15    -1.463074
16     0.031298
17    -0.636874
18    -0.743974
19    -0.413071
20     0.695017
21     1.159902
22     0.285162
23    -1.221323
24     0.068541
25    -0.471784
26     0.057524
27     1.567955
28    -1.634806
29    -0.295270
         ...
970   -0.215923
971    0.024054
972   -0.764470
973    0.815292
974   -1.229383
975   -0.586535
976    0.113670
977    1.082564
978   -1.762096
979    2.252315
980   -0.861224
981   -0.421014
982    1.228777
983    1.877143
984   -0.147252
985    0.948410
986   -1.582345
987    0.718240
988    1.354346
989   -0.271504
990   -1.439835
991   -2.274103
992   -0.497319
993    1.043294
994   -0.548836
995   -0.165153
996    0.779554
997   -0.547225
998    0.209152
999   -0.255697
Name: 2, Length: 1000, dtype: float64

In [11]:
col[np.abs(col) > 3.2]

163    3.370722
369    3.255153
Name: 2, dtype: float64

In [14]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
163  1.002151  0.479183  3.370722 -0.389248
176 -0.760786  0.579140  0.962184 -3.368490
228 -0.575291 -3.614324 -0.306125 -0.369441
264  3.326949  0.958515 -1.287704 -0.771512
306  0.699527 -1.278387  0.716907 -3.161332
369  0.411115  0.722263  3.255153 -0.562944
388  0.999814 -0.979695 -1.454940 -3.042750
547  0.121484 -2.574747 -0.416194 -3.224980
679  3.975955 -0.373500 -0.400240 -0.155272

In [18]:
data[np.abs(data) > 3] = np.sign(data)

In [21]:
np.sign(data) * 3

       0    1    2    3
0   -3.0  3.0  3.0  3.0
1   -3.0 -3.0 -3.0 -3.0
2    3.0 -3.0  3.0  3.0
3   -3.0 -3.0  3.0 -3.0
4    3.0  3.0  3.0  3.0
5    3.0 -3.0 -3.0 -3.0
6   -3.0  3.0  3.0  3.0
7   -3.0  3.0 -3.0  3.0
8   -3.0  3.0  3.0  3.0
9    3.0 -3.0 -3.0  3.0
10   3.0  3.0 -3.0  3.0
11  -3.0  3.0 -3.0  3.0
12  -3.0  3.0  3.0  3.0
13  -3.0 -3.0  3.0  3.0
14  -3.0 -3.0 -3.0 -3.0
15  -3.0 -3.0 -3.0  3.0
16  -3.0 -3.0  3.0 -3.0
17  -3.0  3.0 -3.0 -3.0
18  -3.0  3.0 -3.0 -3.0
19   3.0  3.0 -3.0 -3.0
20  -3.0 -3.0  3.0 -3.0
21  -3.0  3.0  3.0 -3.0
22  -3.0  3.0  3.0  3.0
23  -3.0 -3.0 -3.0  3.0
24   3.0  3.0  3.0 -3.0
25   3.0 -3.0 -3.0  3.0
26   3.0  3.0  3.0  3.0
27  -3.0  3.0  3.0  3.0
28   3.0 -3.0 -3.0 -3.0
29   3.0 -3.0 -3.0  3.0
..   ...  ...  ...  ...
970  3.0  3.0 -3.0  3.0
971 -3.0  3.0  3.0  3.0
972 -3.0 -3.0 -3.0  3.0
973 -3.0  3.0  3.0 -3.0
974  3.0  3.0 -3.0 -3.0
975  3.0 -3.0 -3.0 -3.0
976  3.0 -3.0  3.0 -3.0
977  3.0 -3.0  3.0 -3.0
978  3.0 -3.0 -3.0 -3.0
979  3.0 -3.0  3.0 -3.0
980 -3.0 -3.0 -3.0  3.0
981  3.0 -3.0 -3.0  3.0
982 -3.0 -3.0  3.0 -3.0
983 -3.0 -3.0  3.0 -3.0
984  3.0  3.0 -3.0  3.0
985 -3.0  3.0  3.0 -3.0
986 -3.0 -3.0 -3.0  3.0
987 -3.0 -3.0  3.0 -3.0
988  3.0  3.0  3.0 -3.0
989 -3.0 -3.0 -3.0  3.0
990 -3.0 -3.0 -3.0 -3.0
991 -3.0  3.0 -3.0  3.0
992 -3.0 -3.0 -3.0  3.0
993  3.0  3.0  3.0 -3.0
994  3.0 -3.0 -3.0 -3.0
995  3.0 -3.0 -3.0 -3.0
996  3.0  3.0  3.0 -3.0
997  3.0 -3.0 -3.0 -3.0
998  3.0  3.0  3.0 -3.0
999 -3.0 -3.0 -3.0 -3.0

[1000 rows x 4 columns]

In [22]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [31]:
sampler = np.random.permutation(5)
sampler

array([1, 0, 4, 3, 2])

In [32]:
df.take(sampler)

    0   1   2   3
1   4   5   6   7
0   0   1   2   3
4  16  17  18  19
3  12  13  14  15
2   8   9  10  11

In [34]:
print(df)
df.sample(n=3)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

    0   1   2   3
2   8   9  10  11
3  12  13  14  15
1   4   5   6   7

In [35]:
choices = pd.Series([5, 7, -1, 6, 4])
choices

0    5
1    7
2   -1
3    6
4    4
dtype: int64

In [38]:
draws = choices.sample(n=10, replace=True)
draws

2   -1
2   -1
4    4
1    7
1    7
4    4
4    4
1    7
2   -1
4    4
dtype: int64

In [39]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [50]:
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [59]:
np.random.seed(12345)
values = np.random.rand(10)
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
print(bins)
values

[0, 0.2, 0.4, 0.6, 0.8, 1]

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [57]:
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

In [63]:
val = 'a ,b , guido'
val.split(',')

['a ', 'b ', ' guido']

In [64]:
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [66]:
first, second, third = pieces
first,second,third

('a', 'b', 'guido')

In [67]:
first + '::' + second + '::' + third

'a::b::guido'

In [68]:
'::'.join(pieces)

'a::b::guido'

In [71]:
print(val)
'guido' in val

a ,b , guido

True

In [76]:
val.index('a')

0

In [77]:
val.find(':')

-1

In [79]:
val.count('a')

1

In [80]:
val.replace(',', '::')

'a ::b :: guido'

In [81]:
val

'a ,b , guido'

In [82]:
val.replace(',', '')

'a b  guido'

In [84]:
import re
text = "foo bar\t baz \tqux"
text

'foo bar\t baz \tqux'

In [85]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [86]:
regex.findall(text)

NameError: name 'regex' is not defined